<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean name="customer" class="com.adoumadje.spring.springcore.map.Customer">
        <property name="id">
            <value>1</value>
        </property>
        <property name="products">
            <map>
                <entry key="100" value="Rice Cooker" />
                <entry key="200">
                    <value>Monitor</value>
                </entry>
                <entry value="Keyboard">
                    <key>
                        <value>300</value>
                    </key>
                </entry>
                <entry>
                    <key>
                        <value>400</value>
                    </key>
                    <value>Mouse</value>
                </entry>
            </map>
        </property>
    </bean>

</beans>