<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean name="address" class="com.adoumadje.spring.springcore.constructorinjection.Address">
        <property name="street" value="Legionow" />
        <property name="buildingNumber" value="14" />
        <property name="city" value="Lodz" />
    </bean>

    <bean name="employee" class="com.adoumadje.spring.springcore.constructorinjection.Employee">
        <constructor-arg name="id" value="2387" />
        <constructor-arg name="address" ref="address" />
    </bean>

</beans>