<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean name="patient" class="com.adoumadje.spring.springcore.lifecycle.annotationconfig.Patient">
        <property name="id" value="154" />
    </bean>

    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />

</beans>