<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean name="cardealer" class="com.adoumadje.spring.springcore.set.CarDealer">
        <property name="name">
            <value>Karabuk Car Dealer</value>
        </property>

        <property name="models">
            <set>
                <value>BMW</value>
                <value>Audi</value>
                <value>Audi</value>
                <value>Hyundai</value>
            </set>
        </property>
    </bean>

</beans>