<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <bean name="reservation" class="com.adoumadje.springcore.autowiring.assignment.Reservation">
        <property name="id" value="2569" />
        <property name="time" value="19:50" />
    </bean>

    <bean name="customer" class="com.adoumadje.springcore.autowiring.assignment.Customer">
        <constructor-arg name="name" value="Mac Allister" />
    </bean>

</beans>